- hosts: localhost
  become: yes
  tasks:
  - name: Install Docker
    apt:
      name: docker.io
      state: present
  - name: Install Jenkins (docker container)
  docker_container:
    name: jenkins
    image: jenkins/jenkins:lts
    state: started
    restart_policy: always
    published_ports:
      - 8080:8080